html table td {
    padding-left: 0.5em;
    white-space: nowrap;
}

table table tr:hover {
    background-color: #f5f5f5;
}

table table td:hover {
    outline: 1px dotted gray;
}

span.kwic {
    color: #e2007a;
    font-weight: bold;
}

div.wrap-text {
    max-width: 40em;
}

#konk {
  overflow-x: auto;
  box-shadow: inset -5px -3px 5px 2px #ccc;
}
