html table td {
    padding-left: 0.5em;
    white-space: nowrap;
}

table table tr:hover {
    background-color: #f5f5f5;
}

table table td:hover {
    outline: 1px dotted gray;
}

table.data {
  width: 100%;
  margin-bottom: 0px;
}

#konk {
  overflow-x: auto;
  box-shadow: inset -25px -1px 25px -20px #ccc;
  margin-bottom: 20px;
}

span.kwic {
    color: #e2007a;
    font-weight: bold;
}

div.wrap-text {
    max-width: 40em;
}
